body {
  font-family: 'Open Sans Variable', sans-serif;
  margin: 0;
  padding: 0;
}

.NormalSectionSize{
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6{
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.4;
  color: var(--color-dark);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.4;
  color: var(--color-dark);
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-dark);
  margin-bottom: 1rem;
}

h4 {
  color: var(--color-dark);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h5 {
  margin-bottom: 1rem;
  color: var(--color-dark);
  margin-top: 0.5rem;
}

p, li {
  font-size: 1.2rem;
  line-height: 1.4;
  color: var(--color-dark)
}
p.micro-text{
  font-size: 1rem;
}
a {
  color: var(--color-dark);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

hr {
  border-bottom: none;
  border-top: 1px solid #000;
  margin: 0;
}

pre {
  white-space: pre-wrap;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  background: rgba(0, 0, 0, 0);
  overflow-x: hidden;
  min-height: 100vh;
}


section {
  padding: 1rem 0;
  @media (min-width: 768px) {
    padding: 2rem 0;
  }
}

fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

form {
  max-width: 100%;
  @media (min-width: 768px) {
    max-width: 400px;
  }
}

input {
  border-radius: 4px;
  border: 1px solid #000;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  padding: 0.5rem;
}

legend {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

dl {
  margin: 0.5rem 0;
}

code {
  background: #ddd;
  border-radius: 4px;
  font-family: monospace;
  padding: 0.25rem;
}
aside,
aside .aside-zone{
  background: rgb(245, 253, 255)!important; 
}
.background-divs{
  height: 100%;
  width: 100%; 
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}
.background-divs.creme{
  background: radial-gradient(circle at 20% 20%, rgba(175, 230, 255, 0.26) 0px, transparent 20%);
}
.background-divs.creme-2{
  background: radial-gradient(circle at 20% 55%, rgba(182, 206, 226, 0.158) 0px, transparent 20%);
}
.background-divs.blue{
  background: radial-gradient(circle at 0% 40%, rgba(182, 207, 221, 0.192) 0px, transparent 20%);
}
.background-divs.blue-2{
  background: radial-gradient(circle at 99% 27%, rgba(181, 228, 254, 0.116) 0px, transparent 20%);
}
.background-divs.neutral{
  background: radial-gradient(ellipse at 45% 55%, rgba(171, 194, 213, 0.103) 0px, transparent 60%);
}
.background-divs.gold{ 
  background: radial-gradient(circle at 50% 85%, rgba(72, 218, 255, 0.075) 0px, transparent 20%);
}
.new-not-visible{
  display: none!important; 
}

form, input, button, textarea, select, option, a{
  -webkit-appearance: none!important;
 -moz-appearance: none !important;
}
@media (max-width: 749px) {
  h1 {
    font-size: 1.75rem !important;
    line-height: 1.3;
  }
  h2 {
    font-size: 1.5rem !important;
    line-height: 1.35;
  }
  h3 {
    font-size: 1.25rem !important;
    line-height: 1.4;
  }
}

.HerobannerFeatured{
  margin-top: 0;
}